<h1><%= @page_title %></h1>

<%= form_for @publisher do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Type here publisher name' %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-success' %>
  <%= link_to 'Cancel', publishers_path, class: 'btn btn-default' %>
<% end %>